/* Fonts & Colours */ 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 600;
}

body {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

/* Links */
a {
    color: #EC4E20;
    font-weight: 600;
}

a:hover {
    color: #EC4E20;
    font-weight: 600;
    text-decoration: solid underline #EC4E20 1px !important;
}

/* Background colours */
.bg-dark {
    background-color: black !important;
}

.bg-primary {
    background-color: #353531 !important;
}

.bg-secondary {
    background-color: #031717 !important;
}

.bg-success {
    background-color: #EC4E20 !important;
}

.bg-success:hover {
    background-color: #EC4E20 !important;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1), 0 0 20px 0 rgba(255, 255, 255, 0.07) !important;
}

/* Button style and hover effects */
.btn-primary {
    color: #fff;
    background-color: #EC4E20;
    border-color: #EC4E20;
}

.btn-primary:hover {
    color: #EC4E20;
    background-color: #ec502000;
    border-color: #EC4E20;
    text-decoration: none !important;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 0 20px 0 rgba(255, 255, 255, 0.19) !important;
}

/* Maginfying glass hover effect */
.magnify {
    width: 10%;
    display: none;
}

.mag-div:hover + .magnify {
    display: block;
  }

/* Footer icon hover circles */ 
.footer-icon:hover {
    border: 3px solid;
    border-radius: 20px
}

/* Skills list items hover effect */
.list-group-item:hover {
    background-color: #031717;
    color: white
}