h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 600;
}

body {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.bg-dark {
    background-color: black !important;
}

.bg-secondary {
    background-color: #031717 !important;
}
.magnify {
    width: 10%;
    display: none;
}

.mag-div:hover + .magnify {
    display: block;
  }

